.titulo2 {
  font-style: italic;
  text-shadow: 5px 5px 15px #a2e0f7;
  background-image: linear-gradient(to bottom, rgb(51, 248, 242), white);
  background-clip: text;
  color: transparent;
  font-size: 3rem;
  line-height: normal;
  -webkit-text-stroke: 1px black;
}

@media (min-width: 320px) and (max-width: 460px) {
  .titulo1 {
    font-size: 2.2rem;
  }
}

.btn_fzc2 {
  text-decoration: none;
  color: #000;
}

.h3__total {
  font-size: 1.5rem;
}

.page__content {
  padding: 0 15.625vw;
}

h6 {
  font-size: 0.8rem;
}

.borde__inferior {
  border-bottom: 2px solid rgb(235, 245, 248);
}

.carritoVacio {
  height: 50vh;
}

.carritoVacio__h2 {
  font-size: 1rem;
  font-style: italic;
  text-align: center;
  margin-bottom: 1rem;
}

.btn_fzc3 {
  display: block;
  margin: 0 auto;
}