.ItemCount_container-count {
  width: 100%;
}

.ItemCount_container {
  width: 90%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.btn_container {
  padding: 0 20px 0 0;
}

.btn_border {
  border-top: 1px rgb(195, 192, 192) solid;
  border-bottom: 1px rgb(195, 192, 192) solid;
  border-radius: 5px;
  width: 100%;
  background-color: rgb(246, 245, 245);
}

button {
  border-radius: 5px;
  background-image: linear-gradient(to bottom, rgb(181, 245, 243), white);
  box-shadow: 4px 4px 10px -5px;
  border: 1px solid rgb(195, 192, 192);
  font-weight: bold;
}

.btn1 {
  width: 2rem;
}

button:active {
  background-image: linear-gradient(to bottom, rgb(118, 237, 235), white);
}